/*! AUI Sortable Tables */
.aui-table-sortable .tablesorter-header {
    cursor: pointer;
}

/**
 * Unsortable columns should not get the hover effects
 */
.aui-table-sortable .tablesorter-header.aui-table-column-unsortable {
    cursor: default;
}

.aui-table-sortable .tablesorter-header.aui-table-column-unsortable:hover {
    background-color: inherit;
    color: inherit;
}

/**
 * Color of header when selected or hovered.
 */
.aui-table-sortable .tablesorter-header:hover,
.aui-table-sortable .tablesorter-headerAsc,
.aui-table-sortable .tablesorter-headerDesc {
    background-color: #f5f5f5;
    color: #333;
}

/**
 * Used to generate the arrow on the right.
 */
.aui-table-sortable .aui-table-header-content:after {
    border: 4px solid transparent;
    content: "";
    display: inline-block;
    margin-left: 5px;
    position: relative;
    width: 0;
}

/**
 * If the table header is hovered add the border color.
 */
.aui-table-sortable .tablesorter-header:hover .aui-table-header-content:after {
    border-top-color: #333;
    border-bottom-color: transparent;
    opacity: 0.5;
    filter: alpha(opacity=50);
    top: 2px;   /* push down by half the height of the arrow (border) */
}

/**
 * If descending add border color
 */
.aui-table-sortable .tablesorter-headerAsc .aui-table-header-content:after,
.aui-table-sortable .tablesorter-headerAsc:hover .aui-table-header-content:after {
    border-top-color: #333;
    border-bottom-color: transparent;
    opacity: 1;
    filter: alpha(opacity=100);
    top: 2px; /* push down by half the height of the arrow (border) */
}

/**
 * If ascending add border color
 */
.aui-table-sortable .tablesorter-headerDesc .aui-table-header-content:after,
.aui-table-sortable .tablesorter-headerDesc:hover .aui-table-header-content:after {
    border-top-color: transparent;
    border-bottom-color: #333;
    opacity: 1;
    filter: alpha(opacity=100);
    top: -2px; /* push up by half the height of the arrow (border) */
}
