#firebug-warning {
    background: #ffd;
    border: 1px solid #f7df92;
    color: #333;
    margin: 0 0 0.2em 0;
    text-align: center;
}

#firebug-warning p {
    margin: 0 1em;
    padding: 0.3em;
}

#firebug-warning a.close {
    background: url(aui-icon-close.png) no-repeat 0 0;
    cursor: pointer;
    display: block;
    float: right;
    height: 16px;
    line-height: 12px;
    margin: -1.5em 0.4em 0 0;
    text-indent: -9999px;
    width: 16px;
}

